<script type="text/javascript">
    (function () {
        let times = document.getElementsByTagName('time');
        if (times.length === 0) {
            return;
        }
        let posts = document.getElementsByClassName('post-body');
        if (posts.length === 0) {
            return;
        }
        let pubTime = new Date(times[0].dateTime);  /* 文章发布时间戳 */
        let now = Date.now()  /* 当前时间戳 */
        let interval = now - pubTime;  /* 时间差 */
        let days = Math.floor(interval / (24 * 60 * 60 * 1000));  /* 天数 */
        /* 发布时间超过指定时间（毫秒） */
        if (days > 30) {
            if (times.length === 2) {
                let modTime = new Date(times[1].dateTime); /* 文章更新时间戳 */
                let interval2 = now - modTime /* 计算修改时间差 */
                let days = interval / 86400000 /* 计算时间差 */
                let daysModify = interval2 / 86400000 /* 计算修改时间差 */
                let dl = Math.floor(days);
                let dm = Math.floor(daysModify);
                if (dm < 7) {
                    posts[0].innerHTML = '<div class="note" style="font-size:0.9rem">' +
                        '<p>本文编写于 ' + dl + ' 天前，本周内已更新部分过时内容。' +
                        '</p></div>' + posts[0].innerHTML;
                } else if (7 <= daysModify < 30) {
                    posts[0].innerHTML = '<div class="note" style="font-size:0.9rem">' +
                        '<p>本文编写于 ' + dl + ' 天前，本月内已更新部分过时内容。' +
                        '</p></div>' + posts[0].innerHTML;
                }else {
                    posts[0].innerHTML = '<div class="note" style="font-size:0.9rem">' +
                        '<p>本文编写于 ' + dl + ' 天前，修改于 ' + dm + ' 天前，其中某些信息可能已经过时。' +
                        '</p></div>' + posts[0].innerHTML;
                }
            } else {
                let days = Math.floor(interval / 86400000) /* 计算时间差 */
                posts[0].innerHTML = '<div class="note" style="font-size:0.9rem">' +
                    '<p>本文编写于 ' + days + ' 天前，其中某些信息可能已经过时。' +
                    '</p></div>' + posts[0].innerHTML;
            }
        }

    })();
</script>
