{#<div class="cc-license animated" itemprop="sponsor">#}
{#  <a href="https://www.netlify.com" class="cc-opacity" title="Deploy with Netlify → https://www.netlify.com" target="_blank"><img width="80" src="https://www.netlify.com/img/global/badges/netlify-dark.svg" alt="Netlify"></a>#}
{#</div>#}
{#<script type="application/javascript">#}
{#  hexo.extend.filter.register('theme_inject', function(injects) {#}
{#    injects.sidebar.file('my-favourite-food', 'source/_data/my-favourite-food.njk', {#}
{#      foods: ['apple', 'orange']#}
{#    });#}
{#  });#}
{#</script>#}
